[submodule "buildscript"]
	path = buildscript
	url = ../buildscript.git
[submodule "foundation"]
	path = foundation
	url = ../foundation.git
[submodule "crawler"]
	path = crawler
	url = ../crawler.git