[submodule "buildscript"]
	path = buildscript
	url = ../buildscript.git
[submodule "foundation"]
	path = foundation
	url = ../foundation.git
[submodule "crawler"]
	path = backend/crawler
	url = ../crawler.git
[submodule "admin"]
	path = backend/admin
	url = ../admin.git
