[submodule "buildscript"]
	path = buildscript
	url = ../buildscript.git
[submodule "foundation"]
	path = foundation
	url = ../foundation.git
[submodule "backend"]
	path = backend
	url = ../backend.git
[submodule "front"]
	path = front
	url = git@github.com:LinShaoHong/front.git
